@use '../abstract/variable' as *;

nav {
  text-align: center;
  ul {
    li {
      display: inline-block;
      padding: 1rem;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary-color;
        &:hover {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }
}
