// Fontes
$font: 'Roboto', sans-serif;

// Cores

$primary-color: #00425a;
$secondary-color: #1f8a70;
$tertiary-color: #bfdb38;
$button-color: #fc7300;
$white: #fff;
$red: red;

//  Tamanho das fontes
$text-size: 3rem;
